
01-introduction/.ipynb_checkpoints/Introduction-to-jupyter-notebooks-and-python-checkpoint.ipynb
01-introduction/.DS_Store
02-python-data-types/.ipynb_checkpoints/Introduction-to-jupyter-notebooks-and-python-checkpoint.ipynb
02-python-data-types/.ipynb_checkpoints/Python-data-types-and-methods-1-checkpoint.ipynb
02-python-data-types/.ipynb_checkpoints/Python-data-types-and-methods-2-checkpoint.ipynb
assignments/.DS_Store
